.navbar {
    position: relative;
    height: var(--nav-height);
    z-index: 100;
    background-color: #303030;
    border-bottom: solid #202020;
}

.nav-menu {
    height: inherit;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 1rem;
}

.nav-menu ul {
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-menu-link {
    height: 100%;
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
}

.nav-dropdown-select {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav-dropdown-select button {
    height: 35px;
    width: 35px;
    padding: 4px;
    outline: none;

    border: none;
    border-radius: 5px;
    background-color: inherit;
}
.nav-dropdown-select button:hover {
    background-color: #202020;
}

.nav-dropdown-select img {
    height: 100%;
    width: 100%;
}

.nav-dropdown {
    position: absolute;
    top: var(--nav-height);
    width: 200px;
    overflow: hidden;
    border-right: solid #202020;
    border-bottom: solid #202020;
    border-radius: 0 0 10px 0;

    background-color: #303030;
}

.nav-dropdown-link {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    border-bottom: solid #202020;
}
.nav-dropdown-link:last-child {
    border-bottom: none;
}
.nav-dropdown-link:hover {
    background-color: #353535;
}
