.map-info {
    width: 50%;
    height: 100%;
    float: left;
}

.map-list {
    width: 50%;
    height: 100%;
    float: right;

    overflow: auto;
}

.map-list::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.map-list::-webkit-scrollbar-track {
    background: transparent;
}

.map-list::-webkit-scrollbar-thumb {
    background-color: #666666;
}
