:root {
  --filter-height: 60px;
}

.map-filter {
  width: 100%;
  height: var(--filter-height);

  border-style: solid;
  border-color: blue;
}

.map-area {
  position: absolute;
  width: 100%;
  height: calc(100% - var(--filter-height));

  border-style: solid;
  border-color: green;
}

.map-info {
  width: 50%;
  height: 100%;
  float: left;

  border-style: solid;
  border-color: yellow;
}

.map-list {
  width: 50%;
  height: 100%;
  float: right;

  overflow: auto;
}

.map-list::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.map-list::-webkit-scrollbar-track {
  background: transparent;
}

.map-list::-webkit-scrollbar-thumb {
  background-color: #666666;
}
