.map-card {
  --card-height: 110px;

  display: flex;
  height: var(--card-height);
  margin: 10px 0;
  overflow: hidden;
  cursor: pointer;

  border-style: solid;
  border-color: #ffc0cb;
  border-radius: 10px 0 0 10px;
}

.downloaded {
  background-color: #ff66aa60;
}
.downloaded:hover {
  background-color: #ff66aa90;
}
.downloaded:focus {
  background-color: #ff66aa;
  outline: none;
}

.not-downloaded {
  background-color: #bb66ff60;
}
.not-downloaded:hover {
  background-color: #bb66ff90;
}
.not-downloaded:focus {
  background-color: #bb66ff;
  outline: none;
}

.map-card-cover {
  height: var(--card-height);
  width: var(--card-height);
}

.map-card-data {
  margin-left: 10px;
  white-space: nowrap;
}

.map-card-title {
  font-weight: bold;
  font-size: 1.5em;
}
