.map-info-container {
  width: calc(100% - 10px);
  height: auto;
  margin-top: 10px;
  overflow: hidden;

  border-style: solid;
  border-color: #ffc0cb;
  border-radius: 0 30px 30px 0;
}

.map-info-cover {
  width: 100%;
}

.map-info-data {
  margin-left: 10px;
  margin-bottom: 10px;
}

.map-info-title {
  font-weight: bold;
  font-size: 1.8em;
}

.map-info-downloads {
  margin-top: 10px;
}

.map-info-downloads-item {
  margin-left: 30px;
  display: list-item;
  list-style-type: circle;
}

.map-info-downloads-item-downloaded {
  color: #0d7700;
}
.map-info-downloads-item-not-downloaded {
  color: #5d000a;
}
