.search-filter {
    min-height: 40px;
    overflow: hidden;
    background-color: #202020;

    border-style: solid;
    border-color: #ffc0cb;
    border-radius: 0 0 0 10px;
}

.search-row {
    height: 40px;
    width: 100%;
}

#search-bar input {
    height: 100%;
    width: 100%;
    padding: 10px;
    outline: none;
    background-color: transparent;
    color: #ffffff;
    border: none;
}
#search-bar input:focus {
    outline: none;
}

.search-menu-sort {
    height: 100%;
    margin-left: 5px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-menu-label {
    height: 100%;
}

.search-filter-select {
    height: 90%;
    width: 100px;
    margin-left: 5px;
    padding-left: 2px;
    outline: none;
    background-color: #303030;
    color: #ffffff;
    border: 0;
    border-radius: 10px;
}
.search-filter-select:focus {
    outline: none;
}

.sort-button {
    width: 35px;
    height: 35px;
    margin-left: 5px;
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #303030;
    border-radius: 10px;
}
.sort-button:focus {
    outline: none;
}
.sort-button:active {
    background-color: #404040;
}

.sort-icon {
    width: 80%;
    height: 80%;
}

.search-filter-device {
    height: 100%;
    margin-right: 5px;
    float: right;
}
